@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
*@
@* @model Path_Lab_ENTITY.eLogin *@
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .btn-color {
            background-color: #0e1c36;
            color: #fff;
        }

        .profile-image-pic {
            height: 200px;
            width: 200px;
            object-fit: cover;
        }



        .cardbody-color {
            background-color: #ebf2fa;
        }

        a {
            text-decoration: none;
        }
    </style>
    <title>@ViewData["Title"] - Path_Lab_WEB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your website description">
    <meta name="author" content="Your Name">

    <!-- Add your favicon and other meta tags here -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">

    @RenderSection("Head", required: false)
</head>

<body>

    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="#">yourlabsample@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91-9090909090</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section><!-- End Top Bar -->

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>Your Lab<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="~/EmployeeWork/EmployeeDashBoard">Dash Board</a></li>
                    
                    @* <li><a href="#contact">Contact</a></li> *@
                    
                    <li class="dropdown">
                        <a href="#">
                            <span>
                                View All Details
                            </span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li><a href="~/EmployeeWork/ManageAppointmentBookingDetails">View all Appointment</a></li>
                            <li><a href="~/EmployeeWork/ManageTestBookingDetails">View all Test</a></li>
                            <li><a href="#">View all Payment Details</a></li>
                            <li><a href="#">View all Payment Transation</a></li>
                        </ul>
                    </li>

                    @if (Context.Request.Cookies["UserId"] != null)
                    {
                        <li class="dropdown">
                            <a href="#">
                                <span>
                                    @Context.Request.Cookies["UFullName"].ToString()
                                </span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                            </a>
                            <ul>
                                <li><a href="~/EmployeeWork/EmployeeProfile">Profile</a></li>
                                <li><a href="~/Home/logout">Logout</a></li>
                                @*<li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>*@
                            </ul>
                        </li>

                    }
                </ul>
            </nav><!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <!-- End Header -->
    @RenderBody()


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 col-md-12 footer-info">
                    <a href="~/Employee/EmployeeDashBoard" class="logo d-flex align-items-center">
                        <span>Path Lab</span>
                    </a>
                    <p>We Provide Best Doctor and Test for you.</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                   <br/>
                    @if (Context.Request.Cookies["UserId"] != null)
                    {
                        @if (Context.Request.Cookies["UserTypeID"] == "10")
                        {
                            <a class="align-items-center" href="/Home/Index" style="color:#FFFFFF;margin-top:3px;margin-left:5px;">
                                <span>Admin DashBoard</span>
                            </a>
                        }

                    }
                </div>

                <div class="col-lg-6 col-md-12 footer-info">
                    <div class="container mt-4">
                        <div class="copyright">
                            &copy; Copyright <strong><span>Your Path</span></strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                            @* Designed by <a href="https://bootstrapmade.com/">Your Path</a> *@
                        </div>
                    </div>

                </div>

            </div>
        </div>

        
    </footer><!-- End Footer -->
    <!-- End Footer -->
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
