@using System.Diagnostics;
@model Path_Lab_ENTITY.eAppoinmentBooking;
@{
    ViewBag.Title = "Book Appointment";
    Layout = "~/Views/Shared/UserLayoutOthers.cshtml";
}

<script>
    function GetDoctorFees() {
        var id = document.getElementById("DoctorId").value;
        console.log(id);

        $.ajax({
            url: "/Doctor/GetDoctorFees",
            type: "Get",
            data: { id: id },
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                // Assuming data is an object with properties matching your model properties
                var Fees = data.Fees;

                // Populate the form fields
                $("#Fees").val(data.Fees);
            }
        });
    }
</script>

<style>

    .content {
        width: 100%;
        max-width: 512px;
        padding-block: 48px;
        border-radius: 8px;
        background-color: #242423;
    }

    keyframes marquee {
        /*       from:

                                                                    {
                                                                        transform: translateX(0);
                                                                    }

                                                                    to {
                                                                        transform: translateX(-100%);
                                                                    }*/
    }

    .marquee {
        position: relative;
        background-color: #f5cb5c;
        padding-block: 8px;
        overflow: hidden;
    }

        .marquee:not(:last-child) {
            margin-bottom: 16px;
        }

    .marquee__inner {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .marquee__part {
        flex-shrink: 0;
        padding-inline: 2px;
        animation-name: marquee;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .border-left-custom {
        border-left: 1px solid #008374; /* Customize the color as needed */
    }

    .border-custom {
        border-left: 1px solid #008374; /* Customize the color as needed */
        border-right: 1px solid #008374; /* Customize the color as needed */
        border-top: 1px solid #008374; /* Customize the color as needed */
        border-bottom: 1px solid #008374; /* Customize the color as needed */
    }

    .fade-out {
        transition: opacity 1s ease-out, height 0.3s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css"
      integrity="sha512-0nkKORjFgcyxv3HbE4rzFUlENUMNqic/EzDIeYCgsKa/nwqr2B91Vu/tNAu4Q0cBuG4Xe/D1f/freEci/7GDRA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .fixed-top {
        position: relative;
        z-index: 9999; /* Adjust z-index as needed */
    }


    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #ffffff;
        margin: 10% auto;
        padding: 20px;
        width: 50%;
        border-radius: 8px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.2s;
    }

        .close:hover,
        .close:focus {
            color: #ff5b5b;
        }

    /* Modal Text */
    p {
        font-size: 18px;
    }

</style>


<section>
    <div class="marquee">
        <marquee>
            <ul class="marquee__inner">
                <li class="marquee__part">
                    Book Doctor Appointment •
                </li>
                <li class="marquee__part">
                    Your Lab •
                </li>
                <li class="marquee__part">
                    Always With You •
                </li>
                <li class="marquee__part">
                    For Your Better Health •
                </li>
            </ul>
        </marquee>
    </div>
</section>

@if (ViewBag.LoginAlert != null)
{
    <div class="container-fluid">
        <div id="alertMessage" class="alert alert-info alert-dismissible fade show" role="alert">
            <center>@ViewBag.LoginAlert</center>
        </div>
    </div>
}



<div class="row">
    <div class="col-sm-8 p-5">
        <section>


            <nav style="font-weight:bold;color:#008374">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Booking Appointment</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Add Patient</button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    @using (Html.BeginForm("AppointmentBooking", "PathLab", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="border-custom">
                            <br>
                            <div class="section-header">
                                <h2>Submit Form to Book Appointment</h2>
                            </div>

                            <div class="row p-2 text-center">
                                <label class="col-sm-4 control-label">Select date :</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.BookingDate, new { @class = "form-control", @placeholder = "Select Date...", @type = "date", @required = "required" })
                                </div>
                            </div>

                            <div class="row p-2 text-center">
                                <label class="col-sm-4 control-label">Select Doctor :</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.DoctorId, new SelectList(ViewBag.DoctorDetail, "DoctorId", "DocNameSpec", ViewBag.DoctorDetail),
                                             "--Select Doctor--", new { @class = "form-control ch", @id = "DoctorId", @onchange = "GetDoctorFees();" })

                                </div>
                            </div>
                            <br />

                            <div class="row p-2 text-center">
                                <label class="col-sm-4 control-label">Fees :</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Fees, new { @class = "form-control", @Readonly = "Readonly", @placeholder = "Fees..." })

                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="card card-info" style="height:80%; background-color:#008374">
                                        <div class="card-header">
                                            <h3 class="card-title" style="font-size:80%;font-weight: bold;color:white">Patient Information</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-1">
                                    <i class="fa-solid fa-circle-plus" data-bs-toggle="modal" data-bs-target="#PatientModal1"></i>
                                </div>
                            </div>

                            <div class="row p-2 text-center">
                                <label class="col-sm-4 control-label">Select Patient :</label>
                                <div class="col-sm-6">
                                    @* @Html.DropDownListFor(model => model.PatientId, new SelectList(ViewBag.Patient, "PatientId", "PatientName", ViewBag.Patient),
                                "--Select Patient--", new { @class = "form-control form-control-sm ch", @id = "ddlSpecialization" }) *@
                                    @Html.DropDownListFor(model => model.PatientId, new SelectList(ViewBag.Patient, "PatientId", "PatientName", ViewBag.Patient),
                                             "--Select Patient--", new { @class = "form-control ", @id = "PatientId" })

                                </div>
                                <div class="col-sm-2">
                                    <center>
                                        <button type="button" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" style="width:75%;height:45%;font-size:70%;padding: 5px;">
                                            Add New Patient
                                        </button>
                                    </center>
                                </div>
                            </div>

                            <!--Modal-->

                            <br>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="card card-info" style="height:80%; background-color:#008374">
                                        <div class="card-header">
                                            <h3 class="card-title" style="font-size:80%;font-weight: bold;color:white">Payment Information</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-1">
                                    @*<i class="fa-solid fa-circle-plus" data-bs-toggle="modal" data-bs-target="#exampleModal1"></i>*@
                                </div>
                            </div>

                            <div class="row p-2 text-center">
                                <label class="col-sm-4 control-label">Select Payment :</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.PaymentType, new List<SelectListItem>
                                {
                                new SelectListItem { Value = "Cash" , Text = "Cash"  },
                                },
                                             "--None--", new { @class = "form-control" })
                                </div>
                            </div>

                            <br>
                            <center>
                                <button type="submit" class="btn btn-outline-success" value="SaveBooking" name="Command">Submit Booking</button>
                            </center>
                            <br>
                        </div>


                    }
                </div>

                <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    @using (Html.BeginForm("AppointmentBooking", "PathLab", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="border-custom">
                            <br>
                            <div class="section-header">
                                <h2>Submit Form to Add Patient</h2>
                            </div>

                            <div class="form-group row p-3">
                                <label for="recipient-name" class="col-form-label col-sm-5">Patient Name :</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.PatientName, new { @class = "form-control" })
                                </div>

                                <div class="form-group row p-3">
                                    <label for="message-text" class="col-form-label col-sm-5">Gender :</label>
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(model => model.PatientGender, new List<SelectListItem>
                                    {
                                    new SelectListItem { Value = "Male" , Text = "Male"  },
                                    new SelectListItem { Value = "Female" , Text = "Female" },
                                    new SelectListItem { Value = "Others" , Text = "Others" },
                                    },
                                                 "--None--", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group row p-3">
                                    <label for="message-text" class="col-form-label col-sm-5">Date Of Birth :</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.PatientDOB, new { @class = "form-control", @type = "date" })
                                    </div>
                                </div>

                            </div>

                            <br>
                            <center>
                                <button type="submit" class="btn btn-outline-success" value="SavePatient" id="SavePatient" name="Command">Save Patient</button>
                            </center>
                            <br>
                        </div>
                    }

                </div>
            </div>



        </section>

    </div>
    <div class="col-sm-4 border-left-custom">

        <div class="section-header">
            <h2>Doctor's Name & specialization</h2>
        </div>
        <div class="center">

            <div class="table table-responsive table-striped table-hover p-1">
                <table class="table table-bordered table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Degination</th>
                            <th>Specialization</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var DoctorDetail in ViewBag.DoctorDetail)
                        {
                            <tr>
                                <td>@DoctorDetail.DoctorName</td>
                                <td>@DoctorDetail.Qualification</td>
                                <td>@DoctorDetail.Specialization</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SavePatient").click(function () {
            PatientDetails();
        });
    });

    function PatientDetails() {
        if ($("#PatientName").val() == "") {
            alert("Patient Name should Not Be Empty");
            return false;
        }
        if ($("#PatientGender").val() == "") {
            alert("Gender should Not Be Empty");
            return false;
        }
        if ($("#PatientDOB").val() == "") {
            alert("Date of Birth should Not Be Empty");
            return false;
        }
    }
</script>


<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"
        integrity="sha512-eSeh0V+8U3qoxFnK3KgBsM69hrMOGMBy3CNxq/T4BArsSQJfKVsKb5joMqIPrNMjRQSTl4xG8oJRpgU2o9I7HQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    $(document).ready(function () {
        $(".ch").chosen({
            width: "95%",
            no_results_text: "Oops, nothing found!",
            allow_single_deselect: true,
        });
    });
</script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#alertMessage').addClass('fade-out');
            setTimeout(function () {
                $('#alertMessage').alert('close');
            }, 1000); // Time to wait for the fade-out transition to complete
        }, 10000); // Time to wait before starting fade-out
    });
</script>
