@model Path_Lab_ENTITY.eDoctor

@{
    Layout = "~/Views/Shared/NavSideBar.cshtml";
}

<style>
    #myInput {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h0a6.5 6.5 0 0 0 1.397-1.398zM6.5 11a4.5 4.5 0 1 1 4.5-4.5h0a4.5 4.5 0 0 1-4.5 4.5h0z"/></svg>');
        background-position: 10px 10px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

</style>

@using (Html.BeginForm("ManageDoctor", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Doctor Details</h6>
            </div>
            <div class="card-header py-12">
                <h6 style="text-align:right"><a href="~/PathLab/Index">Back To DashBoard</a></h6>
            </div>
            <div class="card-body">


                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Data.." title="Type in a name">

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Degination</th>
                                @*<th>Date Of Joining</th>*@
                                <th>Gender</th>
                                <th>Email</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var DoctorDetail in ViewBag.DoctorDetail)
                            {
                                <tr>
                                    <td>@DoctorDetail.DoctorName</td>
                                    <td>@DoctorDetail.Specialization</td>
                                    @*<td>@DoctorDetail.JoiningDate.ToLongDateString()</td>*@
                                    <td>@DoctorDetail.Gender</td>
                                    <td>@DoctorDetail.Email</td>
                                    @if (@DoctorDetail.ImagePath == null || @DoctorDetail.ImagePath == "")
                                    {
                                        <td><center><img class="img-circle" src='~/img/profile.png' alt="No Image Upload" style="width:40px;height:40px; margin-top: 10px;"></center></td>
                                    }
                                    else
                                    {
                                        <td><center><img class="img-circle" src='~/Profile/@DoctorDetail.ImagePath' alt="Card image cap" style="width:40px;height:40px; margin-top: 10px;"></center> </td>
                                    }
                                    <td><a href="~/Doctor/AddEditDoctor/0/0/@DoctorDetail.DoctorId" class="fa fa-edit"></a> || <a href="~/Doctor/ViewDoctor/0/0/@DoctorDetail.DoctorId" class="fa fa-eye"></a> ||  <a href="~/Doctor/ManageDoctor/0/0/@DoctorDetail.DoctorId?Command=DoctorDelete" class="fa fa-unlock-alt" alt="Delete Doctor" name="command" value="delete"></a></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

}


@section scripts
    {

    @*<script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
*@

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

}

<!-- Custom styles for this page -->
@*<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
*@


<!-- Page level plugins -->
@*<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
*@
<!-- Page level custom scripts -->
@*<script src="~/js/demo/datatables-demo.js"></script>*@
